<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person data</title>
</head>
<body>

<p th:text="${person.getName()} + ', born on ' + ${person.getYearOfBirth()}" id="name">VALUE</p>

<hr/>

<div th:switch="${books.isEmpty()}">
    <p th:case="${true}" th:text="${person.getName()} + ' didn\'t take any book yet'">VALUE</p>
    <div th:case="${false}">
        <b th:text="'Books lended by ' + ${person.getName()} + ':'">VALUE</b>
        <br/>
        <table th:each="book : ${books}">
            <tr th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.yearOfRelease}">VALUE</tr>
        </table>
    </div>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>