<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book data</title>
</head>
<body>

<p th:text="'Name: ' + ${book.getName()}" id="name">VALUE</p>

<p th:text="'Authors: ' + ${book.getAuthor()}" id="author">VALUE</p>

<p th:text="'Year of release: ' + ${book.yearOfRelease}" id="yearOfRelease">VALUE</p>

<hr/>

<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Edit</a>

<!--<form th:method="DELETE" th:action="@{/people/{id}(id=${book.getBookId()})}">-->
<!--    <input type="submit" value="Delete"/>-->

</form>
</body>
</html>