<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book data</title>
</head>
<body>

<p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getAuthor()}">VALUE</p>

<div th:if="${owner}">
    <span>Book is currently lent to: </span>
    <span th:text="${owner.getName()}">VALUE</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBookId()})}">
        <input type="submit" value="Release this book from owner">
    </form>
</div>

<div th:if="${people}">
    <span>Book is currently free. Assign this book to who?</span>
</div>

<hr/>

<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>